@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    background-image: url("/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Quicksand', sans-serif;
    border-radius:3px;
    margin:0px; 
    color:#000000; 
    font-family: 'Quicksand', sans-serif;
}


button{
    outline:none;
}

#main{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}
#create{
    position:absolute;
    top:100%;
    left:0%;
    width:100%;
    height:100%;
}
#extract{
    position:absolute;
    top:100%;
    left:0%;
    width:100%;
    height:100%;
}
.main{
    color: black;
    font-size: 20px;
    background-image:none;
    border-width: 0px;
    height: 40%;
    width: 90%;
    margin: 5%;
    margin-bottom: 30%;
    margin-top: 30%;
    background-color: rgba(255,255,255,0.5);
    transition:0.2s;
}
.main:hover{
    color: black;
    font-size: 18px;
    background-image:none;
    border-width: 0px;
    height: 35%;
    width: 80%;
    margin: 10%;
    margin-bottom: 32.5%;
    margin-top: 32.5%;
    background-color: rgba(255,255,255,0.5);
}
.main:active{
    color: black;
    font-size: 17px;
    background-image:none;
    border-width: 0px;
    height: 30%;
    width: 60%;
    margin: 20%;
    margin-bottom: 35%;
    margin-top: 35%;
    background-color: rgba(255,255,255,0.5);
}

.back{
    color: black;
    font-size: 14px;
    background-image:none;
    border-width: 0px;
    height: 40px;
    width: 90px;
    margin: 3px;
    background-color: rgba(255,255,255,0.5);
    transition:0.2s
}
.back:hover{
    color: black;
    font-size: 13px;
    background-image:none;
    border-width: 0px;
    height: 35px;
    width: 80px;
    margin-left: 8px;
    margin-top: 5.5px;
    margin-right: 8px;
    margin-bottom: 5.5px;
    background-color: rgba(255,255,255,0.5);
}
.back:active{
    color: black;
    font-size: 12px;
    background-image:none;
    border-width: 0px;
    height: 28px;
    width: 65px;
    margin-left: 9px;
    margin-top: 12.5px;
    margin-right: 9px;
    margin-bottom: 12.5px;
    background-color: rgba(255,255,255,0.5);
}

.button{
    position:absolute;
    color: black;
    font-size: 20px;
    background-image:none;
    border-width: 0px;
    height: 80px;
    width: 360px;
    margin: 6px;
    margin-left: 12px;
    background-color: rgba(255,255,255,0.5);
    transition:0.2s;
}
.button:hover{
    color: black;
    font-size: 18px;
    background-image:none;
    border-width: 0px;
    height: 70px;
    width: 320px;
    margin-left: 32px;
    margin-top: 11px;
    margin-right: 32px;
    margin-bottom: 11px;
    background-color: rgba(255,255,255,0.5);
}
.button:active{
    color: black;
    font-size: 16px;
    background-image:none;
    border-width: 0px;
    height: 56px;
    width: 260px;
    margin-left: 62px;
    margin-top: 18px;
    margin-right: 62px;
    margin-bottom: 18px;
    background-color: rgba(255,255,255,0.5);
}

#add {
    top:100px;
    left:20px;
}
#createZip {
    top:200px;
    left:20px;
}
#createZip {
    top:200px;
    left:20px;
}
#textLabel {
    color:white;
    position:absolute;
    top:60px;
    left:420px;
    width: 200;
}
#textLabel2 {
    color:white;
    position:absolute;
    top:60px;
    left:420px;
    width: 200;
}
#removeFileLabel {
    color:black;
    position:absolute;
    top:300px;
    left:420px;
    width: 200;
}#removeFile{
    color:black;
    position:absolute;
    top:300px;
    left:620px;
    width: 200;
}
#remove {
    top:330px;
    left:410px;
    width:195px;
    height: 68;
    margin-left: 12px;
}
#remove:hover{
    width: 185px;
    margin-left: 17px;
    height: 58;
}
#remove:active{
    width: 160px;
    margin-left: 62px;
    height: 78;
}
#filesToZip {
    position:absolute;
    top:100px;
    left:420px;
    width: 400;
    height: 200px;
    resize: none;
    background-image: none;
    background-color: rgba(255,255,255,0.5);
    color:black;
    font-size:15px;
    border:0px;
    
}
#zipToFiles {
    position:absolute;
    top:100px;
    left:420px;
    width: 400;
    height: 200px;
    resize: none;
    background-image: none;
    background-color: rgba(255,255,255,0.5);
    color:black;
    font-size:15px;
    border:0px;
}
#selZip {
    top:100px;
    left:20px;
}
#extractZip {
    top:200px;
    left:20px;
}
#removeFile {
    background-image: none;
    background-color: rgba(51,51,51,0.3);
    color: black;
}#removeFile:selected {
    background-image: none;
    background-color: rgba(255,255,255,0.5);
    color: black;
}


#progressBar{
    background-image:none;
    background-color:rgba(255, 255, 255,0.5);
    position:absolute;
    top:350px;
    left:20px;
    width: 810px;
    height:40px;
}

#progressBarPiece{
    background-image:none;
    background-color:rgba(51,255,51,0.5);
    width: 00%;
    height:40px;
    transition:0.1s;
}

#extractProgressBar{
    background-image:none;
    background-color:rgba(255, 255, 255,0.5);
    position:absolute;
    top:350px;
    left:20px;
    width: 810px;
    height:40px;
}

#extractProgressBarPiece{
    background-image:none;
    background-color:rgba(51,255,51,0.5);
    width: 00%;
    height:40px;
    transition:0.1s;
}

.halfButton{
    position:absolute;
    color: black;
    font-size: 20px;
    background-image:none;
    border-width: 0px;
    height: 80px;
    width: 175px;
    margin: 6px;
    margin-left: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    transition:0.2s;
}
.halfButton:hover{
    color: black;
    font-size: 18px;
    background-image:none;
    border-width: 0px;
    height: 70px;
    width: 160px;
    margin-left: 18px;
    margin-top: 11px;
    margin-right: 16px;
    margin-bottom: 11px;
    background-color: rgba(255, 255, 255, 0.5);
}
.halfButton:active{
    color: black;
    font-size: 16px;
    background-image:none;
    border-width: 0px;
    height: 56px;
    width: 130px;
    margin-left: 35px;
    margin-top: 18px;
    margin-right: 31px;
    margin-bottom: 18px;
    background-color: rgba(255, 255, 255, 0.5);
}

#half1{
    position:absolute;
    top:100px;
    left:20px;
}

#half2{
    position:absolute;
    top:100px;
    left:205px;
}

#half3{
    position:absolute;
    top:200px;
    left:20px;
}

#half4{
    position:absolute;
    top:200px;
    left:205px;
}


::-webkit-scrollbar {
    background-image:none;
  width: 16px;
}

::-webkit-scrollbar-track {
    background-image:none;
  background: #222222; 
}
 
::-webkit-scrollbar-thumb {
    background-image:none;
  background: #333333;
  transition: 0.3; 
}

::-webkit-scrollbar-thumb:hover {
    background-image:none;
  background: #444444; 
}
